
@media (max-width: 1300px) {
  .sidebar {
    max-width: 100px !important;
  }

}

/* Hides trends sidebar on mobile or when the window is small */
@media (max-width: 1000px) {

.trend-sidebar {
  display:none;
}
}

.sidebar-btn {
  margin-bottom: 10px;
  padding:15px;
  background-color: rgba(0,0,0,0);
  color: white;
  border: 0;
  border-radius: 50px;
}

.sidebar-btn:hover {
  background-color: rgba(0,0,0,50%)

}