.sidebar {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
  position: sticky;
  left: 0;
  top: 0;
  width: 250px;
  padding-top: 40px;
  margin: 0 auto;
  border-right: 1px solid #2f3336;
}

.sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}

main {
  flex: 1;
  position: relative;
  overflow-y: auto;
}

.trend-sidebar {
  width: 300px;
  position: sticky;
  right: 0;
  padding-top: 40px;
  border-left: 1px solid #2f3336;
}

@media (max-width: 1300px) {
  .sidebar {
    max-width: 100px !important;
  }
}

/* Hides trends sidebar on mobile or when the window is small */
@media (max-width: 1000px) {
.trend-sidebar {
  display:none;
}
}

/* Auth Screens */ 

.maincontainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 650px;
  border-radius: 20px;
} 
@media (max-width: 600px) {
  .container {
    height: 100%
  }
}
 .container form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  border-radius: inherit;
  gap:20px;
}
.container form input {
  font-size: 110%;
  border-radius: 20px;
  padding:10px;
  margin:10px;
}
.container button {
  border-radius: inherit;
  padding: 10px;
  margin-top: 20px;
}

/* Side bars */
.sidebar-btn {
  margin-bottom: 10px;
  padding:15px;
  background-color: rgba(0,0,0,0);
  color: white;
  border: 0;
  border-radius: 50px;
}

.sidebar-btn:hover {
  background-color: rgba(0,0,0,50%)
}

/* .mainFeed {

} */

.postDiv {
  display: flex;
  justify-content: center;
  position: sticky;       
  top: 0;
  border-bottom: 1px solid #2f3336;

  padding: 10px;
}
.postInner {
  width: 100%;
  max-width: 600px;
  margin: 0 12px; 
}

