:root {
  --background-colour: black;
  --primary-text-colour: #e7e9ea;
  font-family: 'Roboto', sans-serif;
  color-scheme: dark;
}

body, html {
  background-color: var(--background-colour);
  color: var(--primary-text-colour);
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--primary-text-colour)
}

.nav-link:hover {
  color: var(--primary-text-colour) 
}

.nav-link.active {
  color: var(--primary-text-colour)
}

