:root {
  --background-colour: black;
  --primary-text-colour: #ffffff;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--background-colour);
  color: var(--primary-text-colour);
}

.nav-link {
  color: var(--primary-text-colour)
}

.nav-link:hover {
  color: var(--primary-text-colour) 
}

.nav-link.active {
  color: var(--primary-text-colour)
}

/* MUI input styling */
.input .MuiInputBase-input {
  color: white;
}

.layout-container {
  display: flex;
  height: 100vh;
  background-color: black;
}


.input {
  background-color: #000; 
  color: #fff; 
  transition: background-color 5000s ease-in-out 0s; 
}

/* Sets label to grey */
.input .MuiInputLabel-root {
  color: grey;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}
