:root {
  --background-colour: #242424;
  --primary-text-colour: #ffffff;
}

body {
  background-color: var(--background-colour) !important;
  color: var(--primary-text-colour) !important;
}

.nav-link {
  color: var(--primary-text-colour) !important;
}

.nav-link:hover {
  color: var(--primary-text-colour) !important;
}

.nav-link.active {
  color: var(--primary-text-colour) !important;
}
