:root {
  --background-colour: #242424;
  --primary-text-colour: #ffffff;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--background-colour);
  color: var(--primary-text-colour);
}

.nav-link {
  color: var(--primary-text-colour)
}

.nav-link:hover {
  color: var(--primary-text-colour) 
}

.nav-link.active {
  color: var(--primary-text-colour)
}

/* MUI input styling */
.input .MuiInputBase-input {
  color: white;
}

.layout-container {
  display:flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.input {
  background-color: #000; /* normal background */
  color: #fff; /* normal text color */
  transition: background-color 5000s ease-in-out 0s; /* hack to keep autofill bg */
}

/* Sets label to grey */
.input .MuiInputLabel-root {
  color: grey;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}
