body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: "Roboto Light", sans-serif;
}
.header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #181825;
    border-radius: 5px;
    margin: 5px;
    padding: 1px;
}
.main-flexbox
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sidebar {
    max-width:150px;
}
.inner
{
    flex-grow: 1;
    display: flex;
    margin: 5px;
    background-color: #181825;
    border-radius: 5px;
    padding-inline: 10px;
    text-align: center;
    justify-content: center;
}
